<div style=" height:32px;"></div>
<hr/>
<div style="height: 56px; opacity: .8;display: flex;margin-bottom: 8px;width: 100%;z-index:1000;border-bottom: 1px solid #ddd;box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);">
	<!-- <div style="margin: 10px;"> Follow/like us on: </div> -->
    <a style="margin: 10px;" href="https://www.facebook.com/colearn.xyz/"><img style="height: 36px;" alt="facebook" src="<%= asset_url_h('facebook-bw.png') %>"/></a>
    <a style="margin: 10px;" href="https://twitter.com/colearn_xyz"><img style="height: 36px;" alt="Twitter" src="<%= asset_url_h('twitter-bw.png') %>"/></a>
    <a style="margin: 10px;" href="https://medium.com/@colearn.xyz"><img style="height: 36px;" alt="Medium" src="<%= asset_url_h('medium-bw.png') %>"/></a>
</div> 
