
<div style="background-color: #fff;height: 54px;display: flex;margin-bottom: 8px;position: relative;top: 0;left: 0;width: 100%;z-index:1000;border-bottom: 1px solid #ddd;box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);">
    <a style="height: 44px; padding: 0px;text-decoration: none;" href="http://colearn.xyz">
       <img src="<%= asset_url_h('col-small.png') %>" style="height: 40px;border-radius: 17px;margin: 6px 0;">
        <span style="display: inline-block;float: right;line-height: 2.3;">
          <span style="font-size: 21px;text-decoration: none;color: #000;font-weight: bold;display: inline-block;margin-right: 6px;">Colearn</span>
      	   <span class="tag-line" style="color: black;  font-size: 18px;">Find people to learn with</span>
        </span>
    </a>	
</div>