<p> Hi Guys, </p>

<p> We have discovered a bug in our chat on safari(Chrome and firefox users are not affected) because of which chat was non functional. <b>We have fixed it now and taken necessary steps to make sure this kind of issues does not happen in future.</b> We are deeply sorry for any inconvenience caused. We really appreciate your support. 

<br>
As mentioned bug is now fixed and you should be able to see the chats.
</p>

