<div style="margin-left: 10px;font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;color: #434245;">
	
	<div style="font-size: 25px;font-weight: bold;">
		Keep up with your team’s conversations
	</div>
	<div>
		<p>
			Colearn Notification app help you stay focused without missing important conversation messages.
		</p>
		<p>
			The colearn notification app is available in play store. Never miss an update from the learning post
		</p>
	</div>
	<%= render :partial => 'notification_app_link'%>

</div>