<div style="margin-left: 10px;font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;color: #434245;">
	
	<div style="font-size: 25px;font-weight: bold;">
		Keep up with your team’s conversations
	</div>
	<div>
		<p>
			Colearn Notification app help you stay focused without missing important conversation messages.
		</p>
		<p>
			The colearn notification app is available in play store. Never miss an update from the learning post
		</p>
	</div>
	<div>
		<a style="font-weight: bold; color: #434245;" target="_blank" href="https://	play.google.com/store/apps/details?id=xyz.colearn.colearnnotification">
		<div>
			
		<span>
			Get the colearn notification app (beta)
		</span>
		</div>
		<div style="margin: 10px 0px; width: 1000px;">
			<img src="<%= asset_url_h('google_play.png') %>" style="width: 11%;">
		</div>
		</a>
	</div>

</div>