<p>Hi <%= @user.username %>,</p>
<p>We have noticed that you are currently inactive in the learning <a href="<%= post_url(@post) %>"><%= @post.title %></a>.
  If you are no longer participating in the learning you can leave also.
  After leaving You will stop getting any mails/followups related to this learning.
  If you are really busy and planing to participate after sometime please ignore this mail.
</p>
 <p> We really encourage you to participate or leave the learning. <b>If you don't find this
   learning group suitable for your needs you can create your own learning post <a href="new_post_url(@post)">here</a></b></p>

