<div style="min-height: 150px;width: 100%">
	<h2 style="">Welcome <%= @to.name %></h2>
	<p>Thank you for signing up, We are really excited to have you on Colearn. Here is how you can start</p>
	<ul>
		<li>There are already lots of learning posts, you can explore more  <a href="http://colearn.xyz">here</a></li>
		<li>If you don't find any suitable learning post for you, create your own learning post <a href="http://colearn.xyz/posts/new">here</a></li>
		<li> You can edit your profile <a href="https://colearn.xyz/users/edit">here</a></li>		
	</ul>
	<p style="opacity: .5">Replies on this mail are monitered so please feel free to reply for any comment, suggestions and feedback.</p>	
</div>

	

