
<%- if devise_mapping.omniauthable? %>
 <div class="external-links" style="">
	 <a href="<%= user_google_oauth2_omniauth_authorize_path() %>" id="google-login-but" class="login-anchor">
	 								<div class="ext-login-icon">
							        	<i class="fa fa-google-plus" aria-hidden="true"></i>
							        </div>
							        	<span class="but-text">Google</span>
							        </a>
							        <a href="<%= user_facebook_omniauth_authorize_path %>" id="fb-login-but" class="login-anchor">
							        <div class="ext-login-icon">
							        	<i class="fa fa-facebook" aria-hidden="true"></i>
							        </div>
							        	<span class="but-text">Facebook</span>
							        </a>
</div>
<% end -%>
