<% if @imp_notice %>
	<div id="colearn-notice"><span class="colearn-notice-text"><%= @imp_notice.html_safe %></span><i class="fa fa-times-circle-o notice-rem" id="notice-rem" aria-hidden="true"></i></div>
<% end %>
