<div class="chat-box">
  <div class="chat-title-bar">
    This is a title
  </div>
  <div class="chat-area">
    <div class="user-area">
      
    </div>
    <div class="messages-area">
      <div class="messages">

      </div>
    <div class="input-container">
      <textarea class="message-input-area"></textarea>
      <iframe name="hidden-iframe" style="display: none;">
        
      </iframe>
      <%= form_for Chat.new, url: post_chats_path(@chatable), remote: true, html: {class: "chat-form js_upload_form", enctype: "multipart/form-data" } do |f| %>
        <%= f.hidden_field :message, :value => "Attachment"%>
        <input type="file" name="avatar"/> 
        <%= f.submit "Upload" %>
      <% end %>
     
    </div>   
   </div>
  </div>
</div>
<% content_for :scripts do %>
<script type="text/javascript">
    $('.js_upload_form').bind("ajax:success", function() {
    if($(this).data('remotipartSubmitted'));
  });

  $('.js_upload_form').on("ajax:remotipartComplete", function(e, data) {
    console.log('adsaasd', e, data)
  });
  
</script>

<% end %>