<div style="text-align: left; margin-bottom: 27px;">
						<i class="glyphicon glyphicon-chevron-right" style="color: rgb(130, 130, 130); font-size: 10px;"></i>
						<div style="color: rgb(130, 130, 130); font-size: 11px; display: inline-block;"><%= comment.user.username %>, <%= time_ago_in_words(comment.created_at) %></div>
						<div style="margin-left: 16px;"><%= comment.message %></div>
					</div>