<div>
	<b>All Posts</b>
	<ul>
		<% @posts.each do |post| %>
			<li><a href="<%= post_path(post) %>"><%= post.title %>-<%= post.message %> - <%= post.user.name %></a>

				
			</li>
		<% end %>
	</ul>
</div>