/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui.css
 *= require bootstrap.min3-3-6.css
 *= require bootstrap-markdown.min-2-10-0.css
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.header {
    height: 56px;
    width: inherit;
    background: #FFF;
    display: flex;
    margin-bottom: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);

}
.main-menu {
    margin-top: 66px;
    height: 56px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content {
    min-height: 1000px;
    padding: 15px;
    z-index: 500;
}
.google-login {
    background: #e9544f;
}
.hidden {
    display: none;
}
.logo-image {
    height: 44px;
    margin: 6px;
}
.sign-up {
    margin:auto;
    width: 50%;
    z-index: 10;
}
.username {
    display: flex

}
.username-text {
    margin-left: 5px;
    color: #9d9d9d;
    padding: 14px 12px;
    text-decoration: none;
}
.profile-picture {
    width: 35px;
    height: 35px;
    margin: 10px;

}
.learning-form {
   margin-left: 8px;
   margin-right: 8px;
}
.account-area {
    display: flex;
    margin-left: auto;
}
.menu-items {
    display: flex;
}
.new-learning-request {
    margin-left: auto;

}
.learning-request-tags {
    display: flex;
}
.tag {
    margin-right: 2px;
    margin-left: 2px;
    padding-left:4px;
    padding-right:4px;
    background: #00eb08;
    color: #000;
}
.account-action {
    margin-left: auto;
    padding-right: 8px;
}
.post-learning-plan-btn {
    margin: 5px;
    margin-top: 10px;
}
.post-learning-req-btn {
    margin: 5px;
    margin-top: 10px;
}
.login {
    color: #9d9d9d;
    /*padding: 14px 12px; */
    margin-top: 10px;
    margin-bottom: 10px; 
    text-decoration: none;

}
.sign-up {
    margin-top: 10px;
    margin-bottom: 10px; 
    color: white;
    
}
.signout {
    color: #9d9d9d;
    padding: 14px 12px;
    text-decoration: none;
}
.header a:hover {
    color: white;
}

#divLoading
{
display : none;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('http://loadinggif.com/images/image-selection/3.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}
.vote-area {
    padding-right: 12px;
}
.upvote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background-position: 0 -25px;
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}
.downvote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background-position: 0 -25px;
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}  
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid black;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid #f00;
}
.post-area {
    display: flex;
}
.upvoted {
    border-bottom: 15px solid orange;
    pointer-events: none;
    cursor: default;
}
.downvoted {
    border-top: 15px solid orange;
    pointer-events: none;  /*TODO: this is temp fix to remove pointer event should be fixed. http://stackoverflow.com/questions/2091168/disable-link-using-css*/
    cursor: default;
}
.vote-count {
    text-align: center;
}

.ui-widget-header.ui-corner-top.ui-chatbox-titlebar.ui-dialog-header > span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
}

.footer {
    background: black;
    color: white;
    height: 50px;
}
.footer-content {
    max-width: 1000px;
    margin-top: 10px;
    margin: auto;
}
.footer-content > a {
    color: white;
    padding-right: 10px;
}
    .notifyjs-corner {
        left: 0 !important;
        top: 0px !important; 
        width: 100% !important; 
        text-align: center !important;
    }
    .notifyjs-bootstrap-base.notifyjs-bootstrap-info {
        display: inline-block !important;

    }

.notify_count {
    background-color: #eb4d5c;
    position: absolute;
    top: -10px;
    color: #fff;
    min-width: 21px;
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
    padding: 1px;
}
.show-page.notify_count {
    font-size: 10px;
    top: -3px;
}
.external-label {
    font-weight: bold;
    text-align: center;
}
.external-links {
    display: block; text-align: center;
    margin-top: 15px;
}
.external-links a {
    display: inline-block; width: 42%;
}
.external-links img {
    display: block;
    height: 47px;
    width: 100%;
}
.chat-action-container {
    position: relative;
}

.register-form input {
    width: 100%;
    height: 43px;
    /* margin: 0; */
    padding: 0 20px;
    font-weight: 400;
    letter-spacing: 1px;
    border-color: #d7dbe9;
    border-image: none;
    /* border-radius: 6px 6px 0 0; */
    border-style: solid solid none;
    border-width: 1px 1px 0;
}
.register-form input.register-action {
    background-color: #303845;
    color: #fff;
    font-size: 18px;
    margin-top: 13px;
}
.register-inner {
    display: inline-block; text-align: initial;
    width: 410px;
}
#login-div.modal .modal-content {
        display: inline-block;
    padding: 10px;
}
#login-div.modal .modal-content .register-inner h2 {
    margin-top: 0;
}
#login-div .modal-body {
    padding-top: 0px;
}
.ext-login-icon {

        float: left;
    font-size: 23px;
    color: #fff;
    border-right: 1px solid rgba(12,13,14,0.1);
    padding: 7px;
    width: 41px;
    line-height: 1;
}
.ext-login-icon i {
    font-size: 18px;
}
#google-login-but {
    background: #e0492f;

}
#fb-login-but {
    background: #395697;
}
.external-links .but-text {
    line-height: 2.5;
    color: white;
    font-weight: bold;
}
.login-anchor {
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
a.login-anchor:hover {
    text-decoration: none;

}
.login-form-sep {
        text-align: center;
    margin: 11px 0;
}
.register-form input.last-login-field {
    border-bottom: 1px solid #d7dbe9;
}
@media only screen and (max-width: 768px) {
            /* For mobile phones: */
    .external-links a {
      display: inline-block; width: 48%;
    }

    #login-div.modal .modal-content {
        display: block;
    }
    .register-inner {
        width: 90%;
    }
    .feedback_trigger {
        display: none !important; 
    }

    .mobile-hide {
        display: none !important;
    }
    .logo-image {
        max-width: 44px !important;border-radius: 17px !important;
        height: 18px !important;
    }
    .logo span {
        color: white !important; font-size: 13px !important;
        padding-left: 0px !important;
    }
    .login.btn {
            padding: 2px 1px !important;
            font-size: 14px;
    }
    .sign-up.btn {
        padding: 3px 3px;
    }
    .username {
        display: none !important;
    }
    .logo {

        padding-top: 10px !important;
    }
           
    .account-area {
        display: unset;
    } 
    .account-action {
        padding-right: 0px !important;
    }

    

}