
.message-input-area {
  font-family:Helvetica, Arial, sans-serif;
  resize: vertical;
  font-size:15px;
  width: 100%;
  height:50px;
  border:0;
  padding:10px 15px;
  background:#ddd;
  margin-top: 8px;
}

.chat-title-bar {
  background-color:rgb(21, 11, 48);
  color: white;
  height: 50px;
  
}
.chat-area {
  display: flex;
  
}
.user-area {
  width: 30%;
  margin-right: 4px;
  overflow: auto;
  height: 100%;
}
.messages-area {
  width: 70%;
  margin-top: 4px;
}
.chat-box {
   min-height: 300px;
}
.messages {
	min-height: 300px;
	padding:15px;
	border-bottom:1px dashed #999;
	font-family:Helvetica, Arial, sans-serif;
	position:relative;
	margin:0 auto;
	width:100%;
	color:#777;
	border-radius:10px;
	border:1px solid #aaa;
	overflow:hidden;
	overflow: scroll;
	height: 100%;
}
.user-picture > img {
	height: 30px; width: 30px; border-radius: 20px;
}
.msg-timestamp {
	float: right;
}
.user-display-area {
	
	width: 60px;
}
.text-msg-area {
	width: 100%
}
.message-html {
	margin-bottom: 8px;
}
.user-msg-area {
	display: flex;
	padding-top: 2px;
}
.chat-area {
	height: 400px;
	max-height: 400px;
}
.message-area {
	height: 100%;
}
.circleBase {
    border-radius: 50%;
}
.online {
	@extend .circleBase;
    border: 4px solid green;
}

.offline {
	@extend .circleBase;
    border: 4px solid red;
}