 /*
 *= require select2.css
 */
.edit-user {
	max-width:800px; 
	margin:0 auto;
}
.field {
	margin-top: 12px;
}
.actions {
	margin-top: 12px;
}
.update-btn {
	width: 100px !important;
	margin-top: 20px !important;
}
.update-btn-div {
	margin-top: 12px;
}
.interests-field-area input {
	height: inherit !important;
}