.chat{
  font-family:Helvetica, Arial, sans-serif;
  position:relative;
  margin:0 auto;
  width:300px;
  color:#777;
  border-radius:10px;
  border:1px solid #aaa;
  overflow:hidden;
}
.chat .messages{
  background:#eee;
  overflow:hidden;
  width:100%;
  height:300px;
}
.chat .messages:hover{
  overflow-y:scroll;
}
.chat .messages > div{
  padding:15px;
  border-bottom:1px dashed #999;
}
.chat > textarea{
  font-family:Helvetica, Arial, sans-serif;
  resize: vertical;
  font-size:15px;
  width:270px;
  height:100px;
  border:0;
  padding:10px 15px;
  background:#ddd;
}
button{
  cursor:pointer;
  width:100%;
  background:#bbb;
  padding:10px 0;
  border:none; 
}