.ui-autocomplete {
	z-index: 100000;
}
.search-bar-active {
	left: 0 !important;
	right: 0 !important;

}
.search-no-results {
	background: white;
	padding: 8px;
}
@media only screen and (max-width: 768px) {
	.search-bar-active {
		position: fixed !important; 
		top: 0!important;
	}
}